@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Anton');

.body {
    background-color: rgb(216, 216, 216);
}

.navbar-brand {
    font-family: "Black Ops One";
}

.card-title {
    font-family: "Black Ops One";
}

.text-muted {
    font-family: "Anton";
}

.btn-outline-dark {
    position: absolute;
    right: 25px;
}

.card, .Quote {
    position: relative;
    top: 25px;
    bottom: 25px;
}